<p style="color: green"><%= notice %></p>

<h1>Articles</h1>

<%= form_with(url: articles_path, method: :get, data: { controller: "search-form",
  turbo_frame: "articles", turbo_action: "advance"
}) do |form| %>
  <%= form.label :query, 'Search by article name', class: 'search-label' %><br />
  <%= form.text_field :query, data: { action: "input->search-form#search"}, class: 'search-input'%><br />

  <%= form.submit "Search", class: 'search-button'%>
  <%= link_to "New article", new_article_path, class: 'search-button' %>
<% end %>

<p><b>These are the most common search queries</b></p>
<% current_user.most_searched_themes.each do |search_item| %>
  <span class="commons"><b><%= search_item%></b>,</span>
<% end %>
<br />

<%= turbo_frame_tag "articles" do%>
  <div id="articles">
    <% @articles.each do |article| %>
      <%= render article %>
      <p>
        <%= link_to "Show this article", article, class: 'search-button' %>
      </p>
    <% end %>
  </div>
<% end %>

