<%= form_with(model: @user) do |form| %>
  <% if @user.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this article from being saved:</h2>

      <ul>
        <% @user.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>s
    </div>
  <% end %>

  <div>
    <%= form.label :username, class: "login-headings" %><br />
    <%= form.text_field :username, class: "login-input"%>
  </div>

  <div>
    <%= form.label :email, class: "login-headings" %><br />
    <%= form.email_field :email, class: "login-input" %>
  </div>


  <div>
    <%= form.label :password, class: "login-headings" %><br />
    <%= form.password_field :password, class: "login-input" %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
